* {
    margin: 0;
}

header {
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

header > a {
    color: gray;
    text-decoration: none;
}

header > .brand {
    font-size: 20px;
    margin-left: 70px;
}

header > .link {
    font-size: 15px;
    margin-left: 20px;
}

.main {
    margin: 15px 70px 20px 70px;
}

.main > h1 {
    font-weight: normal;
    margin-bottom: 10px;
}

.main > ul {
    font-size: 15px;
}

.main > ul > li {
    margin-top: 5px;
}

.main > ul > li > a {
    text-decoration: none;
}

.main > .Calculation {
    font-size: 15px;
    line-height: 140%;
}

footer {
    margin-left: 70px;
    margin-right: 70px;
    border-top: 1px solid lightGray;
    font-size: 15px;
    padding-top: 20px;
}
